
.form-button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.dialog-comment-container-title{
  text-align: center;
  font-weight: bold;
}

.dialog-comment-container-comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}

.new-comment-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.new-comment-form-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  padding: 20px;
  margin: 10px;
  border-radius: 15px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}
