<app-custom-dialog-container>
  <app-custom-post-card-header
  [title]="this.data.post.title"
  [body]="this.data.post.body"
  >
  </app-custom-post-card-header>

  <div class="dialog-comment-container">
    <h3 class="dialog-comment-container-title"> Comments </h3>
    @for (comment of postComments; track comment.id) {
      <app-custom-post-card-header
      [title]="comment.name"
      [body]="comment.body"
    >
    </app-custom-post-card-header>
    }
  </div>

  @if (this.postComments.length === 0) {
    <p> No comments yet </p>
  }

</app-custom-dialog-container>
