<app-custom-dialog-container>
  <app-custom-post-card-header
    [title]="this.data.post.title"
    [body]="this.data.post.body"
    >
  </app-custom-post-card-header>

  <div #commentFormContainer class="new-comment-form-container">
    <h3>Insert new comment</h3>

    <form class="new-comment-form" [formGroup]="newCommentForm">
<!--      name-->
      <mat-form-field
        class="mat-form-field-medium-space"
        appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" required>
        @if (newCommentForm.controls['title'].invalid && newCommentForm.controls['title'].touched) {
          <mat-error class="mat-error">
            @if (newCommentForm.controls['title'].hasError('required')) {
              Title is required
            } @else {
              min length is 3
            }
          </mat-error>
        }
      </mat-form-field>

<!--      email-->
      <mat-form-field
        class="mat-form-field-large-space"
        appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required>
        @if (newCommentForm.controls['email'].invalid && newCommentForm.controls['email'].touched) {
          <mat-error>
            @if (newCommentForm.controls['email'].hasError('required')) {
              email is required
            }
            @if (newCommentForm.controls['email'].hasError('email')) {
              Insert a vaild mail (eg. name@example.com)
            }
          </mat-error>
        }
      </mat-form-field>

<!--      comment-->
      <mat-form-field
        class="mat-form-field-medium-space"
        appearance="outline">
        <mat-label>Comment</mat-label>
        <textarea matInput formControlName="body" required>
        </textarea>
        @if (newCommentForm.controls['body'].invalid && newCommentForm.controls['body'].touched){
          <mat-error>
            @if (newCommentForm.controls['body'].hasError('required')) {
              Body required
            }
          </mat-error>
        }
      </mat-form-field>

    </form>

    <div class="form-button-group">
      <app-custom-button
        matIconName="add"
        matButtonContent="Add"
        backGroundColor="#C6D870"
        textColor="#556B2F"
        waveColor="#556B2F"
        (click)="submitData()"
      >
      </app-custom-button>

      <app-custom-button
        class="clear-button"
        matIconName="close"
        matButtonContent="Clear"
        backGroundColor="#FFD9E1"
        textColor="#8F0045"
        waveColor="#8F0045"
        (click)="onClearButton()"
      >
      </app-custom-button>
    </div>
  </div>
</app-custom-dialog-container>
