<mat-accordion>
  <div class="post-card-header">
    <h4 class="title">{{this.post().title}}</h4>
    <p class="post-card-body">{{this.post().body}}</p>
  </div>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title style="justify-content: center"> More </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="card-button-group">
      <app-custom-button
        matIconName="contact_page"
        matButtonContent="Comments"
        backGroundColor="lightblue"
        textColor="darkblue"
        waveColor="darkblue"
        >
      </app-custom-button>
    </div>
  </mat-expansion-panel>
</mat-accordion>
