.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 30px;
  height: 100%;
}

.search-input {
  height: 90%;
  border-radius: 12px;
  padding: 0 10px;
  background-color: #FFF8F8;
  box-sizing: border-box;
}

.search-button {
  margin-right: 10px;
}


