.dialog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-user-form {
  display: flex;
  flex-direction: column;
}

.form-button-group {
  margin-bottom: 20px;
}

.add-button {
  margin: 0px 10px 0px 10px;
}

.clear-button {
  margin: 0px 10px 0px 10px;
}

.close-dialog-button {
  margin: 20px 20px 0px 0px;
}
