<app-custom-dialog-container>
  <p>Insert new user</p>
  <form class="new-user-form" [formGroup]="newUserForm">
    <!-- Campo Name -->
    <mat-form-field class="mat-form-field-medium-space" appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" required>
      @if (newUserForm.controls['name'].invalid && newUserForm.controls['name'].touched) {
        <mat-error class="mat-error">
          @if (newUserForm.controls['name'].hasError('required')) {
            name is required
          }
        </mat-error>
      }
    </mat-form-field>

    <!-- Campo Email -->
    <mat-form-field
      class="mat-form-field-large-space"
      appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required>
      @if (newUserForm.controls['email'].invalid && newUserForm.controls['email'].touched) {
        <mat-error>
          @if (newUserForm.controls['email'].hasError('required')) {
            email is required
          }
          @if (newUserForm.controls['email'].hasError('email')) {
            insert a vaild mail (eg. name@example.com)
          }
        </mat-error>
      }
    </mat-form-field>

    <!-- Campo Gender -->
    <mat-form-field
      class="mat-form-field-medium-space"
      appearance="outline">
      <mat-label>Gender</mat-label>
      <mat-select formControlName="gender" required>
        <mat-option value="male">Male</mat-option>
        <mat-option value="female">Female</mat-option>
      </mat-select>
      @if (newUserForm.controls['gender'].invalid && newUserForm.controls['gender'].touched) {
        <mat-error>
          @if (newUserForm.controls['gender'].hasError('required')) {
            gender is required
          }
        </mat-error>
      }
    </mat-form-field>

    <!-- Campo Status -->
    <mat-form-field
      class="mat-form-field-medium-space"
      appearance="outline">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status" required>
        <mat-option value="active">active</mat-option>
        <mat-option value="inactive">inactive</mat-option>
      </mat-select>
      @if (newUserForm.controls['status'].invalid && newUserForm.controls['status'].touched) {
        <mat-error>
          @if (newUserForm.controls['status'].hasError('required')) {
            status is required
          }
        </mat-error>
      }
    </mat-form-field>
  </form>

  <div class="form-button-group">
    <app-custom-button
      class="add-button"
      matIconName="add"
      matButtonContent="Add"
      backGroundColor="#C6D870"
      textColor="#556B2F"
      waveColor="#556B2F"
      (click)="submitData()"
    ></app-custom-button>

    <app-custom-button
      class="clear-button"
      matIconName="delete"
      matButtonContent="Clear"
      backGroundColor="#FFD9E1"
      textColor="#8F0045"
      waveColor="#8F0045"
      (click)="clearForm()"
    >
    </app-custom-button>
  </div>
</app-custom-dialog-container>
