.toolbar-title {
  font-size: 1.25rem;
  font-weight: 500;
  cursor: pointer;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

button {
  margin-left: 8px;

  mat-icon {
    margin-right: 4px;
  }

  &.active {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
