<app-custom-dialog-container>
  <p>Insert new Post</p>
  <form class="new-post-form" [formGroup]="newPostForm">

<!--    username-->
    <mat-form-field
      class="mat-form-field-medium-space"
      appearance="outline">
      <mat-label>Username</mat-label>
      <mat-select formControlName="userName">
        @for (user of userList; track user.id) {
          <mat-option value="{{user.email}}">{{user.email}}</mat-option>
        }
      </mat-select>
      @if (newPostForm.controls['userName'].invalid && newPostForm.controls['userName'].touched) {
        <mat-error>
          @if (newPostForm.controls['userName'].hasError('required')) {
            user is required
          }
        </mat-error>
      }
    </mat-form-field>

<!--    Tile-->
    <mat-form-field
      class="mat-form-field-medium-space"
      appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title">
      @if (newPostForm.controls['title'].invalid && newPostForm.controls['title'].touched){
        <mat-error>
          @if (newPostForm.controls['title'].hasError('required')){
            title is required
          }
        </mat-error>
      }
    </mat-form-field>

<!--    Body-->
    <mat-form-field
      class="mat-form-field-medium-space"
      appearance="outline">
      <mat-label>Body</mat-label>
      <textarea matInput formControlName="body"> </textarea>
      @if (newPostForm.controls['body'].invalid && newPostForm.controls['body'].touched){
        <mat-error>
          @if (newPostForm.controls['body'].hasError('required')){
            body is required
          }
        </mat-error>
      }
    </mat-form-field>
  </form>

  <div class="form-button-group">
    <app-custom-button
      class="add-button"
      matIconName="add"
      matButtonContent="Add"
      backGroundColor="#C6D870"
      textColor="#556B2F"
      waveColor="#556B2F"
      (click)="submitData()"
    ></app-custom-button>

    <app-custom-button
      class="clear-button"
      matIconName="delete"
      matButtonContent="Clear"
      backGroundColor="#FFD9E1"
      textColor="#8F0045"
      waveColor="#8F0045"
      (click)="clearForm()"
    >
    </app-custom-button>
  </div>
</app-custom-dialog-container>





