.dialog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-post-form {
  display: flex;
  flex-direction: column;
}

.form-button-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.add-button {
  margin: 0px 10px 0px 10px;
}

.clear-button {
  margin: 0px 10px 0px 10px;
}





