<app-user-details-page-header
(gridCols)="onGridCols($event)"
(searchKeyValue)="onSearchKeyValue($event)"
></app-user-details-page-header>

<app-user-details-page-card [user]="this.user" [usrImg]="userImg"></app-user-details-page-card>

@if (this.filteredPosts.length === 0) {
  <div style="display: flex; justify-content: center; align-items: center; height: 50vh;">
    <h2>No match found</h2>
  </div>
} @else {
  <app-custom-grid
    [gridCols]="this.gridCols"
  >
    @for (post of this.filteredPosts; track post.id) {
      <app-user-post-card
        [post]="post"
        (clickComments)="onClickComment()"
      >
      </app-user-post-card>
    }
  </app-custom-grid>
}


