<app-user-list-header (gridCols)="onGridCols($event)"
                      (newUser)="onNewUser()"
                      (inputValue)="onSearchKey($event)"
>
</app-user-list-header>
@if (!isLoading() && filteredUsers().length === 0) {
  <div style="display: flex; justify-content: center; align-items: center; height: 50vh;">
    <h2>No match found</h2>
  </div>
} @else {
  <app-custom-grid [gridCols]="this.gridCols()">
    @for (user of filteredUsers(); track user.id) {
      <app-user-card
        [user]="user"
        (delete)="onDeleteUser($event)"
      ></app-user-card>
    }
  </app-custom-grid>
}

<app-custom-paginator
[pageSize]="per_page"
[length]="total()"
(pageChange)="onPageChange($event)"
>
</app-custom-paginator>
