.mat-toolbar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

mat-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 12px;
  margin-top: 15px;
  min-width: 435px;
  width: 99%;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}

.left-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.right-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  //width: 10%;
}

.search-input {
  height: 90%;
  border-radius: 12px;
  padding: 0 10px 0 10px;
  background-color: #FFF8F8;
}

.search-button {
  margin-right: 10px;
  //background-color: ;
  //color: ;
}

.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 30px;
}

.new-user-button {
  margin: 0px 5px 0px 5px;
}

.elements-button {
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  margin: 0px 5px 0px 5px;
}

.grid-button {
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  margin: 0px 5px 0px 5px;
}
