<div class="mat-toolbar-container">
  <div class="mat-toolbar">
    <div class="left-container">
      <app-custom-button
        matIconName="web_stories"
        matButtonContent="See all posts"
        backGroundColor="#ADD8E6"
        textColor="#00008B"
        waveColor="#00008B"
        (click)="seeAllPosts()"
      >
      </app-custom-button>
      <span class="example-spacer"></span>
    </div>

    <div class="right-container">


      <div class="funct-container">

        <app-custom-search
          class="search-component"
        (searchKey)="onInputSearch($event)"
        >
        </app-custom-search>

        <app-custom-button class="new-user-button"
                           matIconName="add"
                           matButtonContent="New user"
                           backGroundColor="#C6D870"
                           textColor="#556B2F"
                           waveColor="#556B2F"
                           (click)="onClickNewUser()"
        >
        </app-custom-button>

      </div>

      <div class="right-button-container">



        <button class="elements-button" mat-icon-button [matMenuTriggerFor]="elementsMenu"
                aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #elementsMenu="matMenu">
          <button mat-menu-item
                  (click)="onElementsPerPage(5)"
          >
            <span>5 elementi</span>
          </button>
          <button mat-menu-item
          (click)="onElementsPerPage(10)"
          >
            <span>10 elementi</span>
          </button>
          <button mat-menu-item
          (click)="onElementsPerPage(20)"
          >
            <span>20 elementi</span>
          </button>
          <button mat-menu-item
          (click)="onElementsPerPage(30)"
          >
            <span>30 elementi</span>
          </button>
        </mat-menu>

        <button class="grid-button" mat-icon-button [matMenuTriggerFor]="gridMenu"
                aria-label="">
          <mat-icon>grid_view</mat-icon>
        </button>
        <mat-menu #gridMenu="matMenu">
          <button mat-menu-item (click)="onClickGridCols(1)">
            <span>1 col</span>
          </button>
          <button mat-menu-item (click)="onClickGridCols(2)">
            <span>2 cols</span>
          </button>
          <button mat-menu-item (click)="onClickGridCols(3)">
            <span>3 cols</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
</div>

