/* ==========================================
   USER POST CARD - Responsive
   Modifica: user-post-card.component.scss
   ========================================== */

.card-button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
  padding: 10px;
  flex-wrap: wrap;
}

@media (max-width: 479px) {
  .card-button-group {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
