<mat-accordion>
  <app-custom-post-card-header
  [title]="post().title"
  [body]="post().body"
  >
  </app-custom-post-card-header>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title style="justify-content: center"> More </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="card-button-group">
      <app-custom-button
        matIconName="comment"
        matButtonContent="Comments"
        backGroundColor="lightblue"
        textColor="darkblue"
        waveColor="darkblue"
        (click)="onClickComments()"
        >
      </app-custom-button>
    </div>
  </mat-expansion-panel>
</mat-accordion>
