.confirm-dialog-container {
  margin: 20px 20px 20px 20px;
}

.header-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
