<app-post-list-page-header
(gridCols)="onClickGridCols($event)"
(newPostClick)="onClickNewPost()"
(searchKey)="onSearchKeyValue($event)"
>
</app-post-list-page-header>

@if (filteredPosts().length === 0 && !isLoading) {
  <div style="display: flex; justify-content: center; align-items: center; height: 50vh;">
    <h2>No match found</h2>
  </div>
} @else {
  <app-custom-grid
    [gridCols]="gridCols()"
  >
    @for (post of filteredPosts(); track post.id) {
      <app-user-post-card
        [post]="post"
      >
      </app-user-post-card>
    }
  </app-custom-grid>
}

<app-custom-paginator
  [pageSize]="per_page"
  [length]="total()"
  (pageChange)="onPageChange($event)"
>
</app-custom-paginator>

