.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF8F8;
  border-radius: 15px;
  padding: 15px;
  margin: 10px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}

.header-title {
  letter-spacing: 2px;
}

.header-body {
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}
