
<mat-accordion style="display: flex; flex-direction: column;">
    <div class="user-card-header">
      <img [src]="userImg" alt="user image">
      <div class="user-card-info">
        <span>{{user().name}}</span>
        <span>{{user().gender}}</span>
        <span>{{user().status}}</span>
      </div>

    </div>
  <mat-expansion-panel (opened)="panelOpenState2.set(true)" (closed)="panelOpenState2.set(false)">
    <mat-expansion-panel-header>
      <mat-panel-title> More details </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="card-button-group">

      <app-custom-button
      matIconName="contact_page"
      matButtonContent="Details"
      backGroundColor="lightblue"
      textColor="darkblue"
      waveColor="darkblue"
      ></app-custom-button>

      <app-custom-button
      matIconName="delete"
      matButtonContent="Delete"
      backGroundColor="#FFD9E1"
      textColor="#8F0045"
      waveColor="#8F0045"
      (click)="onClickDeleteButton()"
      >
      </app-custom-button>
    </div>

  </mat-expansion-panel>
</mat-accordion>

