mat-accordion {
  display: flex;
  flex-direction: column;
  width: 95%;
}

.user-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF8F8;
  border-radius: 15px;
  margin: 10px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}

.user-card-header img {
  width: 100px;
  height: 100px;
  margin: 30px 30px 30px 30px;
  border-radius: 15px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}

.user-card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding: 20px;
  margin-top: 20px;
  margin-right: 50px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}

mat-expansion-panel mat-panel-description {
  margin: 10px;
  order: 1;
}

mat-expansion-panel-header mat-panel-title{
  justify-content: center;
}

.card-button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

button {
  height: 50px;
  width: 120px;
}

.details-button {
  background-color: lightblue !important;
  color: darkblue;
}
