.container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
}

.mat-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-row: 2/3;
  grid-column: 2;
}

mat-card-header {
  display: flex;
  justify-content: center;
  padding-bottom: 16px;
}

mat-card-header mat-card-title {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 2px;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

mat-card-content mat-form-field {
  width: 90%;
  height: 112px;
}

.info-text {
  font-size: 14px;
  line-height: 1.5;
  margin: 0 auto;
  width: 90%;
}

mat-card-actions {
  display: flex;
  justify-content: center;
}

mat-card-actions button {
  height: 60px;
  width: 40%;
  font-size: 22px;
  //letter-spacing: 3px;
}
