.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
}

.card-header {
  display: flex;
  flex-direction: row;
  width: 99%;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF8F8;
  border-radius: 15px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}

.card-header img {
  height: 200px;
  width: 200px;
  margin-left: 10px;
  border-radius: 15px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}

.card-details {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-around;
}

.card-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 15px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}

.detail-name {
  margin-right: 20px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
}
